In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Turka,UA,2021-10-31 23:44:16,49.1541,23.0297,41.94,63,0,5.68
1,1,Margate,GB,2021-10-31 23:44:16,51.3813,1.3862,52.70,77,29,4.00
2,2,Chiojdeanca,RO,2021-10-31 23:44:17,45.1667,26.2667,47.52,66,94,1.66
3,3,Bethel,US,2021-10-31 23:44:17,41.3712,-73.4140,58.93,87,90,9.22
4,4,Saint-Pierre,RE,2021-10-31 23:40:19,-21.3393,55.4781,68.29,77,0,5.75

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Wewak,PG,2021-10-31 23:44:18,-3.5534,143.6268,79.45,91,100,9.80
10,10,Hithadhoo,MV,2021-10-31 23:44:18,-0.6000,73.0833,81.86,78,100,19.08
16,16,Atuona,PF,2021-10-31 23:43:33,-9.8000,-139.0333,78.94,73,3,17.45
17,17,Bengkulu,ID,2021-10-31 23:40:07,-3.8004,102.2655,77.63,85,100,4.18
29,29,Vaini,TO,2021-10-31 23:41:16,-21.2000,-175.2000,80.76,83,20,9.22
32,32,Kirakira,SB,2021-10-31 23:44:24,-10.4544,161.9205,86.41,63,68,11.88
35,35,Butaritari,KI,2021-10-31 23:41:26,3.0707,172.7902,81.18,78,29,10.76
40,40,Nishihara,JP,2021-10-31 23:44:25,26.1842,127.7558,76.28,78,40,0.00
46,46,San Patricio,US,2021-10-31 23:45:26,28.0170,-97.5169,82.49,54,0,9.75
53,53,Harper,LR,2021-10-31 23:45:28,4.3750,-7.7169,77.86,86,57,8.90

In [10]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
7          Wewak      PG     79.45  -3.5534  143.6268
10     Hithadhoo      MV     81.86  -0.6000   73.0833
16        Atuona      PF     78.94  -9.8000 -139.0333
17      Bengkulu      ID     77.63  -3.8004  102.2655
29         Vaini      TO     80.76 -21.2000 -175.2000
32      Kirakira      SB     86.41 -10.4544  161.9205
35    Butaritari      KI     81.18   3.0707  172.7902
40     Nishihara      JP     76.28  26.1842  127.7558
46  San Patricio      US     82.49  28.0170  -97.5169
53        Harper      LR     77.86   4.3750   -7.7169

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng               Hotel Name
7          Wewak      PG     79.45  -3.5534  143.6268  In Wewak Boutique Hotel
10     Hithadhoo      MV     81.86  -0.6000   73.0833        Scoop Guest House
16        Atuona      PF     78.94  -9.8000 -139.0333              Villa Enata
17      Bengkulu      ID     77.63  -3.8004  102.2655     Grage Hotel Bengkulu
29         Vaini      TO     80.76 -21.2000 -175.2000      Keleti Beach Resort
32      Kirakira      SB     86.41 -10.4544  161.9205             SanBiz Lodge
35    Butaritari      KI     81.18   3.0707  172.7902       Isles Sunset Lodge
40     Nishihara      JP     76.28  26.1842  127.7558        Minshuku Agaihama
46  San Patricio      US     82.49  28.0170  -97.5169       Motel 6 Sinton, TX
53        Harper      LR     77.86   4.3750   -7.7169              Screensaver

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

NameError: name 'hotel_info' is not defined