## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Balaka,MW,74.59,clear sky,-14.9793,34.9558,Sun Village Lodge
1,4,Mattru,SL,71.47,light rain,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
2,8,New Norfolk,AU,66.65,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
3,12,Tautira,PF,84.22,broken clouds,-17.7333,-149.1500,Pension Oaoa
4,13,Busselton,AU,62.04,broken clouds,-33.6500,115.3333,Observatory Guest House

In [98]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [99]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Havelock"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Havelock"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] =="Stephenville"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Norwalk"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Lynn Haven"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
48,90,Havelock,US,62.55,scattered clouds,34.8791,-76.9013,Sherwood Motel

In [94]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start_array = vacation_start[['Lat', 'Lng']].to_numpy()
start = [tuple(r) for r in vacation_start[['Lat', 'Lng']].to_numpy()]
end = [tuple(r) for r in vacation_end[['Lat', 'Lng']].to_numpy()]
stop1 = [tuple(r) for r in vacation_stop1[['Lat', 'Lng']].to_numpy()]
stop2 = [tuple(r) for r in vacation_stop2[['Lat', 'Lng']].to_numpy()]
stop3 = [tuple(r) for r in vacation_stop3[['Lat', 'Lng']].to_numpy()]
start[0]
waypoints = stop1 + stop2 + stop3
print(waypoints)

[(32.2207, -98.2023), (33.9022, -118.0817), (30.2455, -85.6483)]

In [95]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.6)
directions = gmaps.directions_layer(
    start[0], 
    end[0], 
    waypoints=waypoints, 
    travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,90,Havelock,US,62.55,scattered clouds,34.8791,-76.9013,Sherwood Motel
1,158,Stephenville,US,66.33,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville
2,378,Norwalk,US,65.03,clear sky,33.9022,-118.0817,DoubleTree by Hilton Hotel Los Angeles - Norwalk
3,600,Lynn Haven,US,60.96,clear sky,30.2455,-85.6483,Wingate by Wyndham Panama City Area Lynn Haven

In [100]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [111]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30, -100.0), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))